@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/*  ----------------------------------------------  */
/*                 CORE STYLES                      */
/*  ----------------------------------------------  */

.red-hat-display {
	font-family: "Red Hat Display", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

:root {
	/* Primary */
	--cyan-600: #4d96a9;
	--cyan-300: #8fe3f9;
	--purple-600: #855fb1;
	--purple-300: #d9b8ff;

	/* Neutral */
	--slate-900: #28283d;
	--slate-600: #87879d;
	--slate-300: #d1d1df;
	--white: #fafafa;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	/* Add font-family as needed */
	font-size: 1.3rem;
	font-family: "Red Hat Display", sans-serif;
	font-weight: 500;
	line-height: 1.5;
	min-height: 100vh;
	/* border & padding accounted for in element's width/height */
	box-sizing: border-box;
	background-color: #1e1e1e;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

.button-blue {
	width: 19rem;
	height: 5.6rem;
	border: none;
	border-radius: 29px;
	background-color: var(--cyan-600);
	color: var(--white);
	font-size: 1.6rem;
	font-weight: 700;
}

.button-blue:hover {
	background-color: #71c0d4;
}

.button-blue:hover span {
	color: var(--cyan-300);
}

.button-purple {
	width: 16rem;
	height: 5.6rem;
	border: none;
	border-radius: 29px;
	background-color: var(--purple-600);
	color: var(--white);
	font-size: 1.6rem;
	font-weight: 700;
}

.button-purple-new {
	width: 19rem;
	height: 5.6rem;
	border: none;
	border-radius: 29px;
	background-color: var(--purple-600);
	color: var(--white);
	font-size: 1.6rem;
	font-weight: 700;
}

.button-purple-new:hover {
	background-color: #b18bdd;
}

.button-purple-new:hover span {
	color: var(--purple-300);
}

.button-purple:hover span {
	color: var(--purple-300);
}

.button-purple:hover {
	background-color: #b18bdd;
}

.version-blue {
	color: var(--cyan-300);
}

.version-purple {
	color: var(--purple-300);
}

.version-purple-new {
	color: var(--purple-300);
}
