---
import large from "../../public/images/desktop/image-footer.jpg"
---

<footer class="footer">
	<picture class="footer__image">
		<source
			srcset="../../public/images/desktop/image-footer.jpg"
			media="(min-width: 1440px)"
		/>
		<source
			srcset="../../public/images/tablet/image-footer.jpg"
			media="(min-width: 768px)"
		/>
		<img
			src="../../public/images/mobile/image-footer.jpg"
			alt="Lady listening to headphones."
		/>
	</picture>
	<div class="footer__container">
		<h2 class="footer__title">Experience more together</h2>
		<p class="footer__text">
			Stay connected with reliable HD meetings and unlimited one-on-one and
			group video sessions.
		</p>
	</div>
	<button class="header__download-button button-purple-new footer__button"
		>Download <span class="version-purple-new">v1.3</span></button
	>

	<style>
		footer {
			position: relative;
			max-width: 37.5rem;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: var(--white);
			top: -67px;
		}

		@media screen and (min-width: 768px) {
			footer {
				max-width: 768px;
			}
		}

		@media screen and (min-width: 1440px) {
			footer {
				max-width: 1440px;
			}
		}

		.footer__image {
			width: 100%;
			height: auto;
			overflow: hidden;
		}

		.footer__image img {
			width: 100%;
			height: auto;
			object-fit: cover;
			margin-top: -1.8rem;
		}

		.footer__container {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			background-color: var(--cyan-600);
			opacity: 90%;
		}

		@media screen and (min-width: 1440px) {
			.footer__container {
				flex-direction: row;
				justify-content: start;
				padding-left: 16rem;
			}
		}

		.footer__title {
			margin-top: -5rem;
			text-align: center;
			font-size: 3.2rem;
			line-height: 110%;
			font-weight: 900;
			color: var(--white);
		}

		@media screen and (min-width: 768px) {
			.footer__title {
				margin-top: 0;
				font-size: 3.6rem;
			}
		}

		@media screen and (min-width: 1440px) {
			.footer__title {
				max-width: 44rem;
				text-align: left;
				font-size: 4rem;
			}
		}

		.footer__text {
			text-align: center;
			margin: 3rem 0 2.5rem 0;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 150%;
			color: var(--white);
			max-width: 30rem;
		}

		@media screen and (min-width: 768px) {
			.footer__text {
				max-width: 51rem;
				margin: 3rem 0 0 0;
			}
		}

		@media screen and (min-width: 1440px) {
			.footer__text {
				margin: 0 0 0 4rem;
				max-width: 36rem;
				text-align: left;
				font-size: 1.8rem;
			}
		}

		.footer__button {
			z-index: 1;
			position: absolute;
			bottom: 8rem;
		}

		@media screen and (min-width: 1440px) {
			.footer__button {
				right: 16rem;
				bottom: 52%;
				transform: translateY(52%);
			}
		}
	</style>
</footer>
