---
import NumberElement from "./NumberElement.astro"
import Image from "astro/components/Image.astro"
import logo from "../../public/images/logo.svg"
import heroTablet from "../../public/images/tablet/image-hero.png"
import heroDesktopLeft from "../../public/images/desktop/image-hero-left.png"
import heroDesktopRight from "../../public/images/desktop/image-hero-right.png"
---

<header class="header">
	<Image src={logo} alt="Meet logo" class="header__logo" />
	<Image
		src={heroTablet}
		alt="Headshots of multiple user profiles"
		class="header__image--tablet"
	/>
	<div class="header__image-container">
		<Image
			src={heroDesktopLeft}
			alt="Headshots of users - left"
			class="header__image--desktop-left"
		/>
		<Image
			src={heroDesktopRight}
			alt="Headshots of users - right"
			class="header__image--desktop-right"
		/>
	</div>
	<div class="header__text-container">
		<h1 class="header__title">Group Chat for Everyone</h1>
		<p class="header__text">
			Meet makes it easy to connect with others face-to-face virtually and
			collaborate across any device.
		</p>
		<div class="header__button-container">
			<button class="header__download-button button-blue"
				>Download <span class="version-blue">v1.3</span></button
			>
			<button class="header__whatisit-button button-purple">What is it?</button>
		</div>
	</div>
	<NumberElement num="01" />
</header>

<style>
	.header {
		position: relative;
		width: 100%;
		max-width: 375px;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		padding: 4rem 0;
		gap: 6rem;
		background-color: var(--white);
	}

	@media screen and (min-width: 768px) {
		.header {
			max-width: 768px;
		}
	}

	@media screen and (min-width: 1440px) {
		.header {
			max-width: 1440px;
		}
	}

	.header__logo {
	}

	.header__image--tablet {
		min-width: 433px;
		height: auto;
	}

	@media screen and (min-width: 768px) {
		.header__image--tablet {
			min-width: 820px;
		}
	}

	@media screen and (min-width: 1440px) {
		.header__image--tablet {
			display: none;
		}
	}

	.header__image-container {
		display: none;
	}

	@media screen and (min-width: 1440px) {
		.header__image-container {
			position: absolute;
			display: flex;
			width: 1480px;
			top: 12rem;
		}
	}

	.header__image--desktop-left {
		position: absolute;
	}

	.header__image--desktop-right {
		position: absolute;
		right: 0;
	}

	.header__text-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@media screen and (min-width: 1440px) {
		.header__text-container {
			margin: 2rem 0;
		}
	}

	.header__title {
		color: var(--slate-900);
		text-align: center;
		font-size: 4rem;
		max-width: 29rem;
		font-weight: 900;
		line-height: 110%;
	}

	@media screen and (min-width: 1440px) {
		.header__title {
			font-size: 6.4rem;
			max-width: 45rem;
		}
	}

	.header__text {
		text-align: center;
		color: var(--slate-600);
		max-width: 30rem;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 150%;
		margin-top: 20px;
	}

	@media screen and (min-width: 768px) {
		.header__text {
			width: 45rem;
		}
	}

	@media screen and (min-width: 1440px) {
		.header__text {
			font-size: 1.8rem;
			max-width: 45rem;
		}
	}

	.header__button-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		margin-top: 2.5rem;
	}

	@media screen and (min-width: 768px) {
		.header__button-container {
			flex-direction: row;
		}
	}
</style>
